@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Source+Sans+Pro:wght@300;400&display=swap');

body {
    background: #ebebff6e;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 90vw;
}

.container > div {
    width: calc(100% / 4 - 15px);
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.container > div::after {
    content: '';
    background: #f6f6fe00;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s ease-out;
}

.container > div:hover::after {
    opacity: 0;
}

.container > div:hover img {
    transform: scale(1.1);
}

.h1 {
    text-align: center;
    margin: 40px 0;
    font-family: 'Poppins', sans-serif;
    color: #495057;
    font-size: 48px;
    font-weight: 200;
}

img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}
 
body::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #8c8c8c47;
    outline: none;
}

@media (max-width: 999px) {
    .container > div {
        width: calc(100% / 3 - 15px);
    }
}